nav {
	background-color: #551d67;
}

.body {
	background-color: black;
	background-image: url(img/dark-background-image-for-website.jpg);
	background-size: contain;
	background-attachment: fixed;
}

.h2 {
	text-align: center;
	margin-top: 25px;
}

.hproj {
	margin-bottom: 25px;
}

.center {
	margin: auto;
}
